html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.huninn-regular {
  font-family: "Huninn", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.huninn-bold {
  font-family: "Huninn", sans-serif;
  font-weight: 700;
  font-style: normal;
}